@charset "utf-8";
/* webfont */
@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler-UltraLight.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler-Medium.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler-Light.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler-Black.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler-Bold.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler-ExtraBold.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../font/Butler_Webfont/Butler.woff2') format('woff2'),
        url('../font/Butler_Webfont/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Griffiths';
    src: url('../font/Griffiths-Regular.woff2') format('woff2'),
        url('../font/Griffiths-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
/* 웹폰트없으면 지우세요!!! */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

html{
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}
body{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0A0A0A;
}
#wrap{
    min-width: 1360px;
    overflow: hidden;
}


/* header */
#header{
     font-family: 'Butler', sans-serif;
     font-weight: 900;
     font-size: 20px;
     height: 70px;
     background-color: #F7C8D6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    height: 70px;
}
.inner_header{
    width: 1320px;
    margin: 0 auto;
}
.logo a img{
    height: 40px;
}
.header_flex{
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
}
.gnb li a{
    margin-left: 36px;
    color: #000;             /* 기본 글자 색 */
    transition: all 0.5s ease; /* 부드러운 트랜지션 */
}
.gnb li a:hover {
    color: white;           /* 포인트 컬러로 강조 */
    transform: scale(1.05);   /* 살짝 확대 */
}

/* banner */
#banner{
    background: url(../images/banner/banner.jpg) center;
    height: 639px;
    text-align: center;
    color: #F7C8D6;
}
.inner_banner{
    position: relative;
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 640px;
    justify-content: center;
    padding-top: 80px;
}
.title{
    text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Griffiths', sans-serif;
    font-size: 80px;
    width: 400px;
    line-height: 77px;
    margin-bottom: 30px;
}
.title span{
    text-shadow: 3px 3px 3px rgba(247, 200, 214, 0.4);
    display: block;
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 130px;
    color: black;
    margin-top: 10px;
}
.title_font{
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.btn a{
    display: inline-block;
    font-family: 'Butler', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #F7C8D6;
    border-radius: 20px;
    padding: 8px 45px;
    margin-top: 30px;
}
.black_bag img{
    position: absolute;
    top: 220px;
    left: 240px;
    width: 220px;
    rotate: -20deg;
}
.inner_banner .light img{
    width: 100px;
}
.inner_banner .light{
    position: absolute;
    top: 240px;
    left: 220px;
}
.grey_bag img{
    position: absolute;
    top: 300px;
    right: 250px;
    z-index: 99;
    width: 220px;
    rotate: 17deg;
}
.light2 img{
    position: absolute;
    top: 370px;
    right: 210px;
    z-index: 99;
    width: 90px;
}

/* brand */
#brand{
    background: #000;
    height: 770px;
    color: #F7C8D6;
}
.inner_brand{
    width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.brand_banner{
    margin-right: 60px;
}

.brand_banner img{
    display: block;
    width: 670px;
}
.brand_title{
    font-family: 'Butler', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin: 30px 0;
}
.brand_between{
    margin-bottom: 30px;
    line-height: 20px;
}
.brand_line{
    line-height: 20px;
}

/* collection_banner */
#banner_line{
    border-bottom: 3px black solid;
}
.inner_banner_line{
    width: 1320px;
    margin: 0 auto;
}
.inner_banner_line .flex{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 900;
    height: 90px;
    align-items: center;
}
.inner_banner_line .flex .center{
    margin-left: 70px;
}
.banner_font{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

#collection_banner{
    height: 630px;
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#collection_banner .img{
    width: 450px;
    padding: 100px 0 230px;
}
#collection_banner .line{
    line-height: 24px;
}
.bags{
    position: absolute;
    top: 130px;
    left: 120px;
    z-index: 999;
}
.bags img{
    width: 1090px;
}

#collection_line{
    background: #000;
    height: 70px;
}
.inner_collection_line{
    margin: 0 auto;
    width: 1320px;
}
.inner_collection_line .flex{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 900;
    align-items: center;
    height: 70px;
    color: white;
}

/* collection */
#collection{
    width: 1320px;
    margin: 0 auto;
}
/* 1 */
.section1{
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
}
.bag_img img{
    display: block;
    width: 553px;
}
.text{
    line-height: 30px;
    margin: 150px 0 0 100px;
}
.text span{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}
.text .between{
    margin: 50px 0;
}
/* 2 */
.section2{
    display: flex;
    justify-content: center;
}
.text2{
    line-height: 30px;
    margin: 100px 50px 0 0;
}
.text2 span{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}
.text2 .between{
    margin: 50px 0;
}
.bag_img2 img{
    display: block;
    width: 650px;
    margin-top: 20px;
}
/* 3 */
.section3{
    display: flex;
    justify-content: center;
    margin: 80px 0 0;
}
.bag_img img{
    display: block;
    width: 553px;
}
.text3{
    line-height: 30px;
    margin: 50px 0 0 100px;
}
.text3 span{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}
.text3 .between{
    margin: 50px 0;
}

/* bg */
#bg{
    background: url(../images/collection/bg.jpg);
    height: 3268px;
}
.inner_bg{
    margin: 0 auto;
    width: 1320px;
}

/* event */
#event_title {
    margin: 0 auto;
    width: 1320px; /* 고정된 너비 */
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    margin: 50px 0 0 0;
    padding: 50px 0 0 0;
}

.heart img {
    padding-top: 200px;
    width: 280px;
}

#event_title .position {
    position: absolute;
    top: 306px;
    left: 50%; /* 중앙 정렬 */
    transform: translateX(-50%); /* 정확한 중앙 정렬 */
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Griffiths', sans-serif;
    font-size: 64px;
    line-height: 50px;
    width: 400px;
}

.position span {
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 90px;
}

.position2 {
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

/* event1 */
.event {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto ;
    height: 380px;
    background: url(../images/event/box.png) no-repeat;
    background-size: contain; /* 이미지가 잘리지 않게 크기 자동 조정 */
}

.inner_event {
    display: flex;
    justify-content: center; /* 이미지와 텍스트를 양옆으로 배치 */
}

.event_image img {
    width: 100%;
    max-width: 280px; /* 이미지 크기 설정 */
    height: auto;
    margin-top: 70px;
}
.event_text{
    margin-left: 100px;
    margin-top: 100px;
}
.event_text h1{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 100px;
    font-size: 40px;
}
.font {
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    display: inline-block;
    background-color: #F7C8D6;
    padding: 6px 25px 5px;
    border-radius: 20px;
    font-size: 20px;
    margin: 17px 0 18px;
}
.event_text .bold{
    color: #F29BB2;
    line-height: 30px;
    font-weight: 700;
    font-size: 15px;
}
.event_text p{
    line-height: 24px;
}
.number{
    position: absolute;
    top: -50px;
    left: -74px;
    z-index: 999;
}
.number img{
    display: block;
    width: 180px;
}
.number .number1{
    font-family: 'Butler', sans-serif;
    font-weight: 900;
    font-size: 100px;
    font-size: 40px;
    position: absolute;
    top: 46px;
    left: 66px;
    z-index: 999;
}
/* event2 */
.event2{
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 100px auto ;
    height: 380px;
    background: url(../images/event/box.png) no-repeat;
    background-size: contain; /* 이미지가 잘리지 않게 크기 자동 조정 */
    margin-bottom: 200px;
}

.inner_event2{
    display: flex;
    justify-content: center; /* 이미지와 텍스트를 양옆으로 배치 */
}

.event_image2 img {
    width: 100%;
    max-width: 180px; /* 이미지 크기 설정 */
    height: auto;
    margin: 70px 0 0 50px;
}
.event_text2{
    margin-left: 140px;
    margin-top: 100px;
}
.event_text2 h1{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 100px;
    font-size: 40px;
}
.font {
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    display: inline-block;
    background-color: #F7C8D6;
    padding: 6px 25px 5px;
    border-radius: 20px;
    font-size: 20px;
    margin: 17px 0 18px;
}
.event_text2 .bold{
    color: #F29BB2;
    line-height: 30px;
    font-weight: 700;
    font-size: 15px;
}
.event_text2 p{
    line-height: 24px;
}
.number{
    position: absolute;
    top: -50px;
    left: -74px;
    z-index: 999;
}
.number img{
    display: block;
    width: 180px;
}
.number .number1{
    font-family: 'Butler', sans-serif;
    font-weight: 900;
    font-size: 100px;
    font-size: 40px;
    position: absolute;
    top: 46px;
    left: 66px;
    z-index: 999;
}

/* gift */
#gift{
    position: relative;
    width: 1320px;
    margin: 100px auto;
    text-align: center;
    color:#F7C8D6;
}
.pink{
    position: absolute;
    top: 220px;
    left: 290px;
    z-index: 99;
}
.pinkblur{
    position: absolute;
    top: 600px;
    left: 150px;
    z-index: 99;
}
.pinkblur2{
    position: absolute;
    top: 650px;
    right: 100px;
    z-index: 99;
}
.pinkblur3{
    position: absolute;
    top: 1000px;
    right: 250px;
    z-index: 99;
}
.pinkblur4{
    position: absolute;
    top: 1300px;
    right: 100px;
    z-index: 99;
}
.pinkblur5{
    position: absolute;
    top: 1100px;
    left: 300px;
    z-index: 99;
}
.pinkblur6{
    position: absolute;
    top: 1280px;
    left: 50px;
    z-index: 99;
}
.pinkblur7{
    position: absolute;
    top: 1280px;
    left: 40px;
    z-index: 99;
}
.pinkblur img,
.pinkblur2 img{
    width: 80px;
}
.pinkblur3 img,
.pinkblur4 img,
.pinkblur5 img,
.pinkblur6 img{
    width: 100px;
}
.pinkblur7 img{
    width: 50px;
}

.pink img,
.white img{
    width: 120px;
}
.white{
    position: absolute;
    top: 320px;
    right: 270px;
    z-index: 99;
}


.gift_title h1{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 100px;
}
.gift_title p{
    margin: 16px 0 70px;
}
.gift_content img{
    width: 500px;
}
.gift_between{
    margin: 70px 0 10px;
    font-size: 18px;
}
.gift_bottom{
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.coupon_title h2{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin: 140px 0 20px;
}
.coupon_title span{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.coupon{
    margin:100px 0;
    display: flex;
    justify-content: center;
}
.coupon img{
    width: 437px;
}
.coupon div{
    margin: 0 20px;
}

/*  popup  */
#banner_line2{
    border-bottom: 3px black solid;
}
#popup{
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    position: relative;
}
.popup_title h1{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 90px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
    margin-top: 100px;
}
.popup_title h2{
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Griffiths', sans-serif;
    font-size: 64px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 70px;
}
.popup_title p{
    line-height: 27px;
}
.popup_title p span{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.popup_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}
.popup_img .center{
    margin: 0 20px;
}
.popup_img .center img{
    width: 375px;
}
.popup_img .img1 img,
.popup_img .img3 img{
    width: 300px;
}
.sale{
    position: absolute;
    top: 500px;
    left: 80px;
    z-index: 999; 
}
.sale img{
    width: 165px;
}
#popup .light{
    position: absolute;
    top: 320px;
    right: 150px;
    z-index: 999;
}
#popup .light img{
    width: 120px;
}
.limited_wrap{
    position: relative;
    margin: 0 auto;
    width: 1320px;
    text-align: center;
}
.limited_position{
    position: absolute;
    top: 84px;
    left: 700px;
    z-index: 999;
}
.limited_position h1{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}
.limited_position p{
    line-height: 28px;
    text-align: left;
}
.time{
    text-align: center;
    margin: 50px 0 70px;
    line-height: 28px;
}
.bold{
    font-weight: 800;
    margin-bottom: 5px;
}
.notice{
    background: #000;
    height: 250px;
}
.inner_notice{
    padding-top: 50px;
    margin: 0 auto;
    width: 1320px;
    text-align: center;
    color: white;
}
.inner_notice h1{
    font-family: 'Butler', sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}
.inner_notice p{
    line-height: 30px;
}

/* footer */
#footer{
    background-color: #F7C8D6;
    font-size: 10px;
}
.inner_footer{
    position: relative;
    width: 1320px;
    margin: 0 auto;
    height: 320px;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.footer_inner_flex{
    display: flex;
}
.footer_inner_flex .right{
    margin-right: 100px;
}
.footer_inner_flex ul li:nth-child(1),
.right li:nth-child(1){
    font-weight: 800;
}
.footer_inner_flex .bold{
    font-weight: 800;
}
.footer_inner_flex ul li{
    margin: 20px 0;
}
.media{
    text-align: right;
}
.media li{
    margin-bottom: 6px;
}
.media li:nth-child(1) img{
    width: 32px;
}
.media li:nth-child(2) img{
    width: 27px;
    margin-right: 2px;
}
.media li:nth-child(3) img{
    width: 27px;
    margin-right: 2px;
}
.media li:nth-child(4) img{
    width: 27px;
    margin-right: 1px;
}
.footer_position{
    position: absolute;
    left: 0;
    top: 285px;
    z-index: 99;
    font-size: 9px;
    line-height: 14px;
}
.footer_position2{
    position: absolute;
    right: 0;
    top: 235px;
    z-index: 99;
}
